.main-para{
    display: flex;
    justify-content: center;
}
.main-para p{
    text-align: center;
    width: 65%;
    display: flex;
    justify-content: center;
}
.main-exp-right-img{
    width: 60%;
}
.main-exp-right-img img{
    width: 100%;
    height: 260px;
    object-fit: contain;
margin: 10px 12px;
cursor: pointer;
}
@media screen and (max-width: 710px){
    .main-exp-right-img{
        width: 100%;
    }
    .main-exp-right-img img{
        margin: 0px;
    }
    .para-para p{
        width: 80%;
    }
}