.main-skills-container{
    justify-content: center;
    display: flex;
    margin: 20px 0px;
}
.skills-section-start{
    background-color: white;
   
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.skills-title{
  flex-direction: initial;
  display: flex;
  width: 100%;
  
}
.skills-title h2{
    margin: 30px;
}
.skills-img-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0px 30px;
}
.skills-inner-img{
   
 
    align-items: center;
    display: flex;
    width: 70%;
   
    /* border-left: 12px solid #0050ff; */
}
.skills-text{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.skills-inner-img:hover{
    box-shadow: rgba(235, 225, 178, 0.35) 0px -50px 36px -28px inset;
}

.skills-main-both{
    display: flex;
    flex-direction: row;
    width: 50%;
    border-left: 5px solid #0050ff;
}
.skills-main-both img{
    height: 45px;
    width: 45px;
    margin: 4px 16px;
}




@media screen and (max-width:768px){
    .skills-section-start{
        width: 90%;
    }
    .skills-img-start {
        display: flex;
        flex-direction: column;
    }
    .skills-text{
        display: flex;
        flex-direction: column;
    }
    .skills-main-both{
        width: 100%;
    }
}