.NavbarItems {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.nav-links-mobile{
    display: none;}
.navbar-logo{
    color:black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    border-left: 15px solid #0050FF;
    padding: 10px;
    line-height: 20px;
}
.navbar-logo-link{
text-decoration: none !important;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    align-items: center;
}
.nav-links{
    color:black;
    padding:0.5rem 1rem;
    text-decoration: none;
}
.nav-links:hover{
   color: #0050FF;
   border-bottom: 2px solid #0050ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.menu-icon{
    display:none;
}

@media screen and (max-width:960px){
.NavbarItems{
    position:relative;
}
.navbar-logo{
    font-size:25px;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 475px;
    position: absolute;
    top: 80px;
  left:-100%;
    opacity:1;
    transition: all 0.5s ease;
}
.nav-menu.active{
    background-color:#E6DACE ;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 11;
}
.nav-links{
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: table;
}
.nav-links:hover{
    color: #0050FF;
    border-radius: 20px;
   padding: 1.5rem;
   transition: all 0.5s ease;

}
.navbar-logo{
    position:absolute;
    top: 0;
    left:-30px;
    transform: translate(25%,50%);


}
.menu-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,60%);
    font-size: 1.8rem;
    cursor: pointer;
}
.fa-times{
    color:#000;
    font-size:2rem;

}
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 6px;
        width: 80%;
        background-color: #000;
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;
    }
    .nav-links-mobile:hover{
        background-color: #fff;
        color: #000;
        transition: 250ms;
        
    }
    .button.container{
        display: block;
        text-align: center;
        margin: 10px;
        background-color: #000;
        
    }
   .btn--medium{
    background-color: #000;
    color: #fff;
   }
}